{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @copyright 2026 Mathias Knoll
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template block_private_shares/content

    Template for displaying private shares block.

    Example context (json):
    {
        "id": 1,
        "hastext": true,
        "text": "Intro text",
        "isteacher": true,
        "shares": [
            {
                "serror": false,
                "sname": "Student1",
                "stextshort": "Short text",
                "serrortext": ""
            }
        ],
        "usershare": {
            "hasfilename": true,
            "filename": "file.txt",
            "stextbase64": "ZGF0YQ==",
            "stext": "Full text"
        },
        "error_usershare": "No data available"
    }
}}
<div class="block_private_shares ps_main">
    <div id="private_shares-area-{{id}}" data-id="{{id}}">
        {{#hastext}}
            <!-- Introduction text -->
            <p><i>{{text}}</i></p>
        {{/hastext}}

        {{#isteacher}}
        <!-- Teacher -->
            {{#shares}}
                {{#serror}}
                    <pre><b>{{serrortext}}</b></pre>
                {{/serror}}
                {{^serror}}
                    <pre><b>{{sname}}:</b><br>{{stextshort}}</pre>
                {{/serror}}
            {{/shares}}
        {{/isteacher}}

        {{^isteacher}}
        <!-- Other than Teacher -->
            {{#usershare}}
                {{#hasfilename}}
                    <a download="{{filename}}" href="data:text/plain;base64,{{stextbase64}}">Download {{filename}}!</a>
                {{/hasfilename}}
                {{^hasfilename}}
                    <pre>{{stext}}</pre>
                {{/hasfilename}}
            {{/usershare}}
            {{^usershare}}
                {{error_usershare}}
            {{/usershare}}
        {{/isteacher}}
    </div>
</div>

